<h1>McRiver Raid 2019</h1>

<!--<mc-login-form></mc-login-form>-->

<p class="text-center featured-img-container"><img src="/assets/img/group-shot-2018.jpg" class="img-fluid mx-auto featured-img" alt="2018's Group"></p>

<div class="row">
	<div class="col-md-11 offset-lg-1">
		<h2>What?</h2>
		<p>McRiver Raid is an annual camping event.</p>
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-lg-3 offset-lg-1">
		<h2>When?</h2>
		<p><strong>Starting:</strong> Friday Aug 9, 2019<br>
			<strong>Ending:</strong> Sunday Aug 11, 2019</p>
	</div>
	<div class="col-md-4">
		<h2>Theme?</h2>
		<p>McRiver Olympics</p>
	</div>
	<div class="col-md-4 col-lg-3">
		<h2>Where?</h2>
		<address>
			Rifle River Campground<br>
			5825 Townline Rd<br>
			Sterling, MI 48659
		</address>
	</div>
</div>