// Home Page
.featured-img-container {
	margin: 0 -15px 1rem -15px;
	@include media-breakpoint-up(sm) {
		margin-left: 0;
		margin-right: 0;
	}
}
.featured-img {
	box-shadow: $z1-shadow;
	border-top: 1px solid $dallas;
	border-bottom: 1px solid $dallas;
	@include media-breakpoint-up(sm) {
		border: 1px solid $dallas;
	}
}