<div class="row">
  <div class="col-sm-6">
    <div class="accordion" id="accordion">
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" (click)="collapse1.toggle()">
              Login / Register
            </button>
          </h5>
        </div>
        <div class="collapse" data-parent="#accordion" #collapse1="bs-collapse" [collapse]="isPanel1Open" (expanded)="onAccordionChange(1,$event)">
          <div class="card-body">
            <div *ngIf="!userService.user.loggedIn">
              <tabset [justified]="true">
                <tab heading="Login" id="tab1">
                  <mc-login-form></mc-login-form>
                </tab>
                <tab heading="Create an Account">
                  <mc-register-form></mc-register-form>
                </tab>
                <tab heading="Continue as Guest">
                  <button class="btn btn-primary" (click)="continueAsGuest()">Checkout as Guest</button>
                </tab>
              </tabset>
            </div>
            <div *ngIf="userService.user.loggedIn">
              <p>You are logged in.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card" [ngClass]="{'d-none':!isCamping}">
        <div class="card-header">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" (click)="collapse2.toggle()" [disabled]="isPanel2Disabled">
              Names
            </button>
          </h5>
        </div>
        <div class="collapse" data-parent="#accordion" #collapse2="bs-collapse" [collapse]="isPanel2Open" (expanded)="onAccordionChange(2,$event)">
          <div class="card-body">
            <div class="alert" *ngIf="panel2Message.message" [ngClass]="['alert-'+panel2Message.type]"><span [innerHtml]="panel2Message.message"></span></div>
            <div *ngFor="let person of productsService.people; index as i">
              <div class="form-group">
                  <label class="">
                      Person #{{i + 1}}
                  </label>
                  <div class="input-group">
                    <input type="text" [(ngModel)]="productsService.people[i]['name']" class="form-control">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span>Is this person a rookie?&nbsp;</span>
                        <input type="checkbox" aria-label="Is this person a rookie?" [(ngModel)]="productsService.people[i]['isRookie']">
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <button class="btn btn-primary" (click)="submitPanel2()">Continue</button>
          </div>
        </div>
      </div>
      <div class="card">
          <div class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" (click)="collapse3.toggle()" [disabled]="isPanel3Disabled">
                Contact Information
              </button>
            </h5>
          </div>
          <div class="collapse" data-parent="#accordion" #collapse3="bs-collapse" [collapse]="isPanel3Open" (expanded)="onAccordionChange(3,$event)">
            <div class="card-body">
              <div class="alert" *ngIf="panel3Message.message" [ngClass]="['alert-'+panel3Message.type]"><span [innerHtml]="panel3Message.message"></span></div>
              <div class="form-group" *ngIf="!isCamping">
                <label class="">Name</label>
                <input type="text" [(ngModel)]="order.name" class="form-control">
              </div>
              <div class="form-group">
                <label class="">Email</label>
                <input type="text" [(ngModel)]="order.email" class="form-control">
              </div>
              <div class="form-group">
                <label class="">Phone</label>
                <input type="text" [(ngModel)]="order.phone" class="form-control">
              </div>
              <button class="btn btn-primary" (click)="submitPanel3()">Continue</button>
            </div>
          </div>
        </div>
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" (click)="collapse4.toggle()" [disabled]="isPanel4Disabled">
              Payment Information
            </button>
          </h5>
        </div>
        <div class="collapse" data-parent="#accordion" #collapse4="bs-collapse" [collapse]="isPanel4Open" (expanded)="onAccordionChange(4,$event)">
          <div class="card-body">
            <tabset [justified]="true">
              <tab heading="Pay by Credit Card" id="tab1">
                <mc-payment [loading]="paymentLoading" (tokenEmit)="submitOrder('credit card',$event)"></mc-payment>
              </tab>
              <tab heading="Pay by Check" id="tab2">
                <p>Please send a check or money order to the address below by July 5th, 2018.</p>
                <address>
                  Jim McDonald<br>
                  4323 Crestdale Ave<br>
                  West Bloomfield, MI 48323<br>
                </address>
                <button class="btn btn-primary" [disabled]="paymentLoading" (click)="submitOrder('check',$event)">
                  Submit Order
                  <i class="fa fa-circle-o-notch fa-spin" *ngIf="paymentLoading"></i>
                </button>
              </tab>
            </tabset>
            
          </div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="col-sm-6">
    <h2 class="margin-top-0">Order Summary</h2>
    <table class="table table-striped">
      <tbody>
        <tr *ngFor="let person of productsService.people; index as i">
          <td>{{person.name}}</td>
          <td>${{person.price}}</td>
        </tr>
        <ng-container *ngFor="let item of productsService.cartItems; index as i">
          <tr *ngIf="item.item.slug != 'camping-people-in-group'">
            <td>{{item.item.name}} ({{item.item.quantity}})</td>
            <td>${{item.item.price * item.item.quantity}}</td>
          </tr>
        </ng-container>
      </tbody>
      <tfoot>
        <tr>
            <th>Total</th>
            <th>${{productsService.cartTotal}}</th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>